body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #111;
    color: white;
    font-family: monospace;
    overflow: hidden;
}

.thread {
    position: fixed;
    width: 512px;
    max-height: 512px;
    overflow-y: scroll;
    background-color: #333;
    padding: 8px;
    border: 2px solid dimgray;
    overflow-wrap: anywhere;
}

.reply {
    position: fixed;
    width: 512px;
    max-height: 512px;
    overflow-y: scroll;
    background-color: #444;
    padding: 8px;
    border: 2px solid dimgrey;
    overflow-wrap: anywhere;
}

.threadThumb {
    float: left;
    padding: 0px 8px 8px 0px;
}

#close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    cursor: pointer;
}

#post {
    position: absolute;
    background-color: #555;
    padding: 8px;
    border: 2px solid dimgray;
    color: white;
    z-index: 2147483647;
}

.topic {
    color: magenta;
}

.username {
    color: limegreen;
}

#hint {
    position: absolute;
    color: white;
    padding: 4px;
    background-color: rgba(128, 128, 128, 0.5);
    font-family: monospace;
    z-index: 2147483647;
}

a {
    color: white;
}

.git {
    color: white;
    text-decoration: none;
    padding: 4px;
    background-color: rgba(252, 163, 38, 0.5);
    font-family: monospace;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2147483647;
}

.collapse {
    position: absolute;
    padding: 4px;
    right: 0px;
    top: 0px;
    font-size: larger;
}

.postHeader, .postHeader label {
    cursor: grab;
}

.greenText {
    color: #b5bd68;
}

.preview {
    max-width: 90vw;
    max-height: 90vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 5vh 5vw 5vh 5vw;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    z-index: 2147483647;
}

.overlay video, .overlay img {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.rules {
    color: white;
    text-decoration: none;
    padding: 4px;
    background-color: rgba(128, 0, 128, 0.5);
    font-family: monospace;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2147483647;
}
